$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

table {
  width: 100%;
}
td {
  width: 33.333%;
  border: 6px solid #222;
}
td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
